<!DOCTYPE html>
<html>

<head>
    <title>Apollo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Skranji" rel="stylesheet">

    <!-- Link in jQuery -->
    <script type="text/javascript" src="/assets/javascript/jquery-3.1.1.min.js"></script>

</head>

<body>
    <div class="container">
        {{{ body }}}
    </div>

</body>

</html>