<div class="container" align="center">
    <form id="signin" name="signin" method="post" action="signin" align="center">
        <h2 class="form-signin-heading">Please log in</h2>

        <label for="email">Email Address</label>
        <input name="email" type="text" class="form-control" placeholder="email@email.com" required autofocus />
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" required/>
        <button class="btn btn-lg btn-block" type="submit" value="Sign In">Log in</button>
        <a id="Register" href="/signup" class="btn btn-lg btn-block" value="Sign Up">Sign-Up</a>
    </form>
</div>