.author-table {
    font-family: 'Raleway', sans-serif;   

}

thead{
    color:red;
    font-size: 18px; 

}

#content{
    display: grid;
    grid-template-columns: 33.3%, 33.3%
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;


}
.authorName {
    font-size: 24px; 
    font-family: 'Raleway', sans-serif;   
}
.authorUserName {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.post {
    font-size: 22px;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;

}
.break { 
    border-bottom: 2px solid black 
}